#login-form{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

#form-content{
    position: relative;
    height: auto;
    padding-bottom: 40px;
    width: 620px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    
}
#form-content>h1{
    
    margin:0 0 20px 0;
    padding-top: 15px;
    width: 100%;
    height: 70px;
    background-color: #4EAD4E;
    color: white;
    text-align: center;
    border-bottom: 2px solid black;
}
.input-wrapper{
    position: relative;
    width: 70%;
}

.input-wrapper img{
    width: 20px;
    height: 20px;
    position:absolute;
    right: 7%;
    bottom: 15%;
    
}
.input-wrapper input[type="password"]::-ms-reveal,
.input-wrapper input[type="password"]::-ms-clear {
  display: none; /* Hide show password and clear buttons in Edge */
}


#login-form p span{
    color: rgb(5, 5, 199);
    font-weight: bolder;
    cursor: pointer;
}

.text-input{
    margin-top: 30px;
    width: 90%;
    height: 40px;
    font-size: 100%;
    padding-left: 25px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
}

#form-content i{
  
    position: absolute;
    top: 58%; /* Align vertically to the middle of the input */
    left: 6%; /* Position 10px from the right */
    

}

#login-button{
    margin-top: 25px;
    font-size: 18px;
    width: clamp(270px ,80%,350px); 
    height: 50px;
    cursor:pointer;
    border-radius: 25px;
    border:3px solid black;
    background-color: #4EAD4E;
    color: white;
}


@media (max-width: 600px) {
    #login-form { height: auto; justify-content: start;    margin-top: 50px;}
    #form-content{ width: clamp(335px, 90%, 446px);;  padding-bottom: 20px; /* Add extra space visually */}
    #login-button{height: 50px;   font-size: 18px;}
    .input-wrapper{width: 90%; }
    .input-wrapper img{right: 5%; bottom: 15%;}
    .text-input{width: 95%; padding-right: 1.5%;}
    #form-content i{ left: 4%;}
    #login-button{height: 50px;   font-size: 18px;}
}

@media (min-width: 600px) and  (max-width:1024px){
    #form-content{width: clamp(480px, 70%, 550px);}
    #form-content i {left: 6%;}
    .input-wrapper{width: 75%; }
    .input-wrapper img{right: 7%;}
}

@media (min-width: 1025px) and  (max-width:1400px){
    .input-wrapper img{right: 7%; bottom: 15%;}
    
}